<?xml version="1.0" encoding="UTF-8"?>
<p:configjarSettings xmlns:p="http://www.bea.com/alsb/tools/configjar/config">
    <p:source>
        <p:project dir="D:\CAPG\Practice\GithubLocal\osbtest\CI-demo-application\CI_helloWorldProject"/>
        <p:fileset>
            <p:exclude name="*/overview.xml"/>
            <p:exclude name="*/pom.xml"/>
            <p:exclude name="*/.settings/**"/>
            <p:exclude name="*/.data/**"/>
        </p:fileset>
    </p:source>
    <p:configjar jar="D:\CAPG\Practice\GithubLocal\osbtest\CI-demo-application\CI_helloWorldProject\.data\maven\sbconfig.sbar">
        <p:projectLevel includeSystem="false">
            <p:project>CI_helloWorldProject</p:project>
        </p:projectLevel>
    </p:configjar>
</p:configjarSettings>